<footer class="footer">
    <span class="footer__copyright">
        This site uses <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons &copy;</a>
    </span>
    <span class="footer__copyright">
        Made with <i class="fa fa-heart animated infinite pulse"></i> <a href="http://hexo.io">   Hexo</a> and <a href="https://pages.github.com/"> GitHub Pages </a>
    <span class="footer__copyright">
        Thanks <i class="fa fa-thumbs-up"></i> Monniya for providing <a href="https://github.com/monniya/hexo-theme-new-vno"> Theme</a>
    </span>

  <% if (page.mathjax){ %>
        <%- partial('_partial/mathjax') %>
 <% } %>
</footer>
